<div style="width:90%; float:right; position: static; left:10%; overflow:hidden">
<div id="blank"></div>
   <div id="right">
      <div class="leftarrow_contacts" style="float:left"></div>

      </div>
<div id="right2">
<h1>Editing credit control</h1>

<%= render 'form' %>
</div></div>
