/* CSS Document */

body{ font-family:Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0; color:#666666; background:#f1f1f1}

#maindiv{ width:100%; height:auto; overflow:hidden;}

#header{ width:100%; height:30px; overflow:hidden; background:#2D2D2D; border-bottom:1px solid #fff}

#header_wrap{ width:1000px; height:30px; overflow:hidden;}

#logo{ width:123px; height:75px; padding:10px 0 10px 0}

#logo2{ width:87px; height:34px; padding:10px 0 10px 0; float:left}

#welcomeuser{ width:500px; height:auto; float:right; padding:3px 0 0 0; text-align:right; color:#d0d0d0}

#wrap{ width:1000px; height:auto; overflow:hidden; min-height:400px}

#signindiv{ margin:50px 0 20px 0; width:100%; height:auto; clear:left}

h1{ font-size:20px; color:#2d2d2e}

#loginbox{ width:470px; height:auto; border:1px solid #bcbcbc; background:#fff; padding:20px; border-radius: 10px 10px 10px 10px;}
#loginbox2{ color:#444444; width:600px; height:auto; border-top:1px solid #fff; border-right:1px solid #bcbcbc; border-bottom:1px solid #bcbcbc; border-left:1px solid #bcbcbc; background:#f1f1f1; padding:20px; border-radius: 0px 0px 10px 10px; overflow:hidden}


#footer{ width:100%; height:auto; overflow:hidden; padding:10px;}

.logintextfield{ width:300px; height:auto; padding:7px; border-radius: 5px 5px 5px 5px; background:#FFFFFF; border:1px solid #bcbcbc}

.button{background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#af0007)); background: -moz-linear-gradient(top,  #ed1c24,  #af0007); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1c24', endColorstr='#af0007'); border:1px solid #940006; color:#444444; font-weight:bold; padding:2px 5px 2px 5px; border-radius: 3px 3px 3px 3px; cursor:pointer; color:#FFFFFF; font-size:12px}

.button2{background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed)); background: -moz-linear-gradient(top,  #fff,  #ededed); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed'); border:1px solid #9c9c9c; color:#444444; font-weight:bold; padding:5px 10px 5px 10px; border-radius: 3px 3px 3px 3px; cursor:pointer;

}



#left{ width:10%; height:auto; float:left; text-align:left}

#right{ width:85%; height:auto; float:right;border:1px solid #bcbcbc; background:#fff; padding:20px; text-align:left; border-radius: 10px 10px 10px 10px; margin:0 0 20px 0}

#searchdiv{ width:100%; height:auto; float:left; padding:20px 0 20px 0; text-align:left}


.searcfield {
    background: url("../images/search.png") no-repeat scroll left top #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 5px 5px 5px 5px;
    color: #999999;
    margin: 0 3px 0 0;
    padding: 7px 5px 7px 25px;
    width: 300px;}
	
	

.sidebarmenu ul{
margin: 0;
padding: 0;
list-style-type: none;
font: normal 12px Arial;
width: 200px; /* Main Menu Item widths */
border-bottom: 1px solid #ccc;
}
 
.sidebarmenu ul li{
position: relative;
}

/* Top level menu links style */
.sidebarmenu ul li a{
display: block;
overflow: auto; /*force hasLayout in IE7 */
color: #878787;
text-decoration: none;
padding: 6px;
border: 1px solid #bcbcbc;
border-radius: 5px 5px 5px 5px; background:#fff; margin-top:1px

}

.sidebarmenu ul li a:link, .sidebarmenu ul li a:visited, .sidebarmenu ul li a:active{
background-color: #fff /*background of tabs (default state)*/
}

.sidebarmenu ul li a:visited{
color: #a7a7a7;
}

.sidebarmenu ul li a:hover{
background-color: #f1f1f1; color:#000000
}

/*Sub level menu items */
.sidebarmenu ul li ul{
position: absolute;
width: 170px; /*Sub Menu Items width */
top: 0;
visibility: hidden;
}

.sidebarmenu a.subfolderstyle{
background: url(../images/right.gif) no-repeat 97% 50%;
}

 
/* Holly Hack for IE \*/
* html .sidebarmenu ul li { float: left; height: 1%; }
* html .sidebarmenu ul li a { height: 1%; }
/* End */


.fp{ font-weight:bold; color:#000000; text-decoration:none}
.fp:hover{text-decoration:underline}




.m1{ width:100px; height:auto; text-align:center; color:#999999; text-decoration:none; margin-bottom:10px;}
.m1 a {
	text-decoration:none; width:100px;
	color:#999999;
	padding-top:50px;
	background-attachment: scroll;
	background-image: url(../images/profile2.png);
	background-repeat: no-repeat;
	background-position: center top; display:block
}
.m1 a:hover{color:#000; background:url(../images/profile.png) no-repeat top center;}
.rightcorner{border-radius: 2px 2px 2px 2px; background:#0099CC}



/*form*/


.field1 {
    border-color: #C1C1C1 #EBEBEB #EBEBEB #C1C1C1;
    border-radius: 3px 3px 3px 3px; font-size:12px;
    border-style: solid;
    border-width: 1px;
    color: #666666;
    font-family: arial,verdana;
    padding: 5px;
    width: 200px; background:#fafafa}
	
/*category	*/

.message {
   background: -moz-linear-gradient(center top , #FFFFFF, #f5f5f5) repeat scroll 0 0;
    border: 1px solid #BCBCBC;
    border-radius: 5px 5px 5px 5px;
    margin: 8px 0;
    padding: 8px 15px;
    width: 250px;
}
.message .content a {
    color: #000000;
    text-decoration: none;
}
.message .created_at {
    color: #555555;
    float: right;
    font-size: 12px;
}
.message .actions {
    font-size: 12px;
    margin-top: 5px;
}
.message .actions a {
    text-decoration: none; color:#3366CC
}

.message .actions a:hover{
    text-decoration: none; color:#000
}
.nested_messages {
    margin-left: 30px;
}
.nested_messages .nested_messages .nested_messages .nested_messages {
    margin-left: 0;
}