ul#css3menu1,ul#css3menu1 ul{
	margin:0;list-style:none;padding:0;}
ul#css3menu1,ul#css3menu1 .submenu{
	}
ul#css3menu1 .submenu{
	visibility:hidden;position:absolute;left:80%;top:0;-moz-box-shadow:0px 0px 2px #c0c0c0;-webkit-box-shadow:0px 0px 2px #c0c0c0;box-shadow:0px 0px 2px #999999;float:left;background-color:#fff;border-width:1px;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;
	border:1px solid #BCBCBC; padding:10px;}
ul#css3menu1 li:hover>.submenu{
	visibility:visible;opacity:1;}
ul#css3menu1 li{
	position:relative;zoom:1;display:block;white-space:nowrap;font-size:0;}
ul#css3menu1 li:hover{
	z-index:1;}
ul#css3menu1 ul .submenu{
	position:absolute;left:100%;top:0;}
ul#css3menu1 li>.submenu{
	opacity:0;-moz-transition:all 0.5s;-webkit-transition:opacity 0.5s;-o-transition:opacity 0.5s;}
ul#css3menu1{
	padding:0 3px 3px;font-size:0;z-index:999;display:inline-block;zoom:1;
	*display:inline; width:auto; }
ul#css3menu1 .column{
	float:left;}
ul#css3menu1>li,ul#css3menu1 li{
	margin:3px 0 0;}
ul#css3menu1 a:active, ul#css3menu1 a:focus{
	outline-style:none;}
ul#css3menu1 a,ul#css3menu1 a.pressed{
	display:block;vertical-align:middle;text-align:left;text-decoration:none;font:12px Arial ;color:#999999;cursor:pointer;}
ul#css3menu1 ul li{
	float:none;margin:6px 0 0;}
ul#css3menu1 ul a{
	text-align:left;padding:10px;background-color:#fff;background-image:none;border-width:0 0 0 0;border-style:solid;border-color:#000;border-radius:7px;-moz-border-radius:7px;-webkit-border-radius:7px;font:12px Arial ;color:#000;text-decoration:none;text-shadow:#ffffff 0 0 0;}
ul#css3menu1 li:hover>a{
	border-style:none;font:12px Arial ;color:#ffffff;text-decoration:none;text-shadow:#999999 0 0px 0px;}
ul#css3menu1 img{
	border:none;vertical-align:middle; padding-right:5px}
ul#css3menu1 img.over{
	display:none;}
ul#css3menu1 li:hover > a img.def{
	display:none;}
ul#css3menu1 li:hover > a img.over{
	display:inline;}
ul#css3menu1 li a.pressed img.over{
	display:inline;}
ul#css3menu1 li a.pressed img.def{
	display:none;}
ul#css3menu1 span{
	display:block;overflow:visible;/*background-image:url("arrowsub.png");background-position:right center;background-repeat:no-repeat;*/}
ul#css3menu1 ul span{
	/*background-image:url("arrowsub.png");padding-right:31px;*/}
ul#css3menu1 a{
	padding:8px 0px;background-color:;background-repeat:repeat;border-width:0px;border-style:none;border-color:;color:#999999;text-decoration:none; text-align:center}
ul#css3menu1 li:hover>a,ul#css3menu1 li>a.pressed{
	border-style:none;color:#000;text-decoration:none;text-shadow:#999999 0 0px 0px;}
ul#css3menu1 ul li:hover>a,ul#css3menu1 ul li>a.pressed{
	background-color:#f1f1f1;background-image:none;border-style:solid;border-color:#913030;font:12px Arial ;color:#000;text-decoration:none;}
ul#css3menu1.topmenu{
	}
ul#css3menu1 li.topmenu>a{
	/*background-color:transparent;border-radius:7px;-moz-border-radius:7px;-webkit-border-radius:7px;*/}
ul#css3menu1 li.topmenu:hover>a,ul#css3menu1 li.topmenu>a.pressed{
	/*background-color:#913030;*/}
	
	
	.leftarrow{
	
	border-color: transparent #BCBCBC;
    border-style: solid;
    border-width: 9px 9px 9px 0;
    bottom: auto;
    left: -9px;
    position: absolute;
    top: 21px;
    width: 0;}
	
	
	.toparrow {
		border-style: dashed dashed solid;
    	border-width: 0 10px 10px;
    	cursor: default;
    	display: inline-block;
    	font-size: 0;
    	height: 0;
    	line-height: 0;
    	position: absolute;
    	top: 0;
    	width: 0;
    	z-index: 1000; border-bottom-color: #FFFFFF !important; right: 45px;
    	margin: -10px 0 0; color: #666666; border-color: transparent }


	.home{ background:url(../images/home.png) no-repeat center top !important; padding:35px 0 0 0!important}
	.home:hover{ background:url(../images/home_hover.png) no-repeat center top !important;}
	.home_selected{ background:url(../images/home_hover.png) no-repeat center top !important; padding:35px 0 0 0!important}

	.settings{ background:url(../images/setting.png) no-repeat center top !important; padding:35px 0 0 0!important}
	.settings:hover{ background:url(../images/setting_hover.png) no-repeat center top !important;}
	.settings_selected{ background:url(../images/setting_hover.png) no-repeat center top !important; padding:35px 0 0 0!important}
	
	
	.contacts{ background:url(../images/contact_email.png) no-repeat center top !important; padding:35px 0 0 0!important}
	.contacts:hover{ background:url(../images/contact_email_hover.png) no-repeat center top !important;}
	.contacts_selected{ background:url(../images/contact_email_hover.png) no-repeat center top !important; padding:35px 0 0 0!important}
	
	.products{ background:url(../images/products.png) no-repeat center top !important; padding:35px 0 0 0!important; margin-top:10px}
	.products:hover{ background:url(../images/products_hover.png) no-repeat center top !important;}
	.products_selected{ background:url(../images/products_hover.png) no-repeat center top !important; padding:35px 0 0 0!important; margin-top:10px}
	
	.leftarrow_setting { background: url("/images/left_arrow.png") no-repeat scroll 0 0 transparent; height: 19px; left: -30px; position: relative; top: 540px; width: 10px; }
	.leftarrow_contacts { background: url("/images/left_arrow.png") no-repeat scroll 0 0 transparent; height: 19px; left: -30px; position: relative; top: 93px; width: 10px; }
