/* CSS Document */

body{ font-family:Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0; color:#666666; background:#f1f1f1}

#maindiv{ width:100%; height:auto; overflow:hidden;}

#header{ width:100%; min-height:30px; height:auto; overflow:hidden; background:#e7e7e7; border-bottom:1px solid #fff}

#header_wrap{ width:1000px; height:auto; overflow:hidden;}

#logo{ width:123px; height:75px; padding:10px 0 10px 0}

#topsearchbox{float:left; margin:22px 0 0 20px; text-align:left; width:456px}

#username{float:left; margin:22px 0 0 18px; text-align:left; max-width:200px; font-weight:bold }

#logo2{ width:130px; height:57px; padding:10px 0 10px 0; float:left; margin-left:50px}

#welcomeuser{ width:500px; height:auto; float:right; padding:3px 0 0 0; text-align:right; color:#d0d0d0}

#wrap{ width:1000px; min-height:440px; margin-top:20px; }

#signindiv{ margin:50px 0 20px 0; width:100%; height:auto; clear:left}

h1{ font-size:20px; color:#2d2d2e}

#loginbox{ width:470px; height:auto; border:1px solid #bcbcbc; background:#fff; padding:20px; border-radius: 10px 10px 10px 10px;}
#loginbox2{ color:#444444; width:600px; height:auto; border-top:1px solid #fff; border-right:1px solid #bcbcbc; border-bottom:1px solid #bcbcbc; border-left:1px solid #bcbcbc; background:#f1f1f1; padding:20px; border-radius: 0px 0px 10px 10px; overflow:hidden}


#footer{ width:100%; height:auto; overflow:hidden; padding:10px;}

.logintextfield{ width:300px; height:auto; padding:7px; border-radius: 5px 5px 5px 5px; background:#FFFFFF; border:1px solid #bcbcbc}

.button{background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#af0007)); background: -moz-linear-gradient(top,  #ed1c24,  #af0007); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1c24', endColorstr='#af0007'); border:1px solid #940006; color:#444444; font-weight:bold; padding:2px 5px 2px 5px; border-radius: 3px 3px 3px 3px; cursor:pointer; color:#FFFFFF; font-size:12px

}

.button2{background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed)); background: -moz-linear-gradient(top,  #fff,  #ededed); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed'); border:1px solid #9c9c9c; color:#444444; font-weight:bold; padding:5px 10px 5px 10px; border-radius: 3px 3px 3px 3px; cursor:pointer;

}

.notification{background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed)); background: -moz-linear-gradient(top,  #fff,  #ededed); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed'); border:1px solid #9c9c9c; color:#444444; font-weight:bold; padding:1px 2px 1px 2px; border-radius: 3px 3px 3px 3px; cursor:pointer; width:auto; float:left; margin:24px 0 0 10px

}


.mail{
	background: -moz-linear-gradient(top,  #fff,  #ededed);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed'); 	border:1px solid #9c9c9c;
	color:#444444;
	font-weight:bold;
	padding:5px 5px 5px 30px;
	border-radius: 3px 3px 3px 3px;
	cursor:pointer;
	width:auto;
	float:left;
	margin:20px 0 0 10px;
	background:url(../images/mail.png) no-repeat;
	background-image: url(../images/mail.png);
	background-repeat: no-repeat;
	background-position: 3px center;
}




#left{ width:15%; height:auto; float:left; text-align:left}

#right{ width:80%; height:auto; float:right;border:1px solid #bcbcbc; background:#fff; padding:20px; text-align:left; border-radius: 10px 10px 10px 10px; margin:0 0 20px 0}



.searcfield {
    background: url("../images/search.png") no-repeat scroll left top #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 5px 5px 5px 5px;
    color: #999999;
    margin: 0 3px 0 0;
    padding: 7px 5px 7px 25px;
    width: 300px;}
	
	

.sidebarmenu ul{
margin: 0;
padding: 0;
list-style-type: none;
font: normal 12px Arial;
width: 200px; /* Main Menu Item widths */
border-bottom: 1px solid #ccc;
}
 
.sidebarmenu ul li{
position: relative;
}

/* Top level menu links style */
.sidebarmenu ul li a{
display: block;
overflow: auto; /*force hasLayout in IE7 */
color: #878787;
text-decoration: none;
padding: 6px;
border: 1px solid #bcbcbc;
border-radius: 5px 5px 5px 5px; background:#fff; margin-top:1px

}

.sidebarmenu ul li a:link, .sidebarmenu ul li a:visited, .sidebarmenu ul li a:active{
background-color: #fff /*background of tabs (default state)*/
}

.sidebarmenu ul li a:visited{
color: #a7a7a7;
}

.sidebarmenu ul li a:hover{
background-color: #f1f1f1; color:#000000
}

/*Sub level menu items */
.sidebarmenu ul li ul{
position: absolute;
width: 170px; /*Sub Menu Items width */
top: 0;
visibility: hidden;
}

.sidebarmenu a.subfolderstyle{
background: url(../images/right.gif) no-repeat 97% 50%;
}

 
/* Holly Hack for IE \*/
* html .sidebarmenu ul li { float: left; height: 1%; }
* html .sidebarmenu ul li a { height: 1%; }
/* End */


.fp{ font-weight:bold; color:#000000; text-decoration:none}
.fp:hover{text-decoration:underline}




.m1{ width:100px; height:auto; text-align:center; color:#999999; text-decoration:none; margin-bottom:10px;}
.m1 a {
	text-decoration:none; width:100px;
	color:#999999;
	padding-top:50px;
	background-attachment: scroll;
	background-image: url(../images/profile2.png);
	background-repeat: no-repeat;
	background-position: center top; display:block
}
.m1 a:hover{color:#000; background:url(../images/profile.png) no-repeat top center;}




.m2{ width:100px; height:auto; text-align:center; color:#999999; text-decoration:none; margin-bottom:10px;}
.m2 a {
	text-decoration:none; width:100px;
	color:#999999;
	padding-top:50px;
	background-attachment: scroll;
	background-image: url(../images/company2.png);
	background-repeat: no-repeat;
	background-position: center top; display:block
}
.m2 a:hover{color:#000; background:url(../images/company.png) no-repeat top center;}



.m3{ width:100px; height:auto; text-align:center; color:#999999; text-decoration:none; margin-bottom:10px;}
.m3 a {
	text-decoration:none; width:100px;
	color:#999999;
	padding-top:50px;
	background-attachment: scroll;
	background-image: url(../images/clients2.png);
	background-repeat: no-repeat;
	background-position: center top; display:block
}
.m3 a:hover{color:#000; background:url(../images/clients.png) no-repeat top center;}



.m4{ width:100px; height:auto; text-align:center; color:#999999; text-decoration:none; margin-bottom:10px;}
.m4 a {
	text-decoration:none; width:100px;
	color:#999999;
	padding-top:50px;
	background-attachment: scroll;
	background-image: url(../images/contact2.png);
	background-repeat: no-repeat;
	background-position: center top; display:block
}
.m4 a:hover{color:#000; background:url(../images/contact.png) no-repeat top center;}



.m5{ width:100px; height:auto; text-align:center; color:#999999; text-decoration:none; margin-bottom:10px;}
.m5 a {
	text-decoration:none; width:100px;
	color:#999999;
	padding-top:50px;
	background-attachment: scroll;
	background-image: url(../images/supplier2.png);
	background-repeat: no-repeat;
	background-position: center top; display:block
}
.m5 a:hover{color:#000; background:url(../images/supplier.png) no-repeat top center;}




.m6{ width:100px; height:auto; text-align:center; color:#999999; text-decoration:none; margin-bottom:10px;}
.m6 a {
	text-decoration:none; width:100px;
	color:#999999;
	padding-top:50px;
	background-attachment: scroll;
	background-image: url(../images/product2.png);
	background-repeat: no-repeat;
	background-position: center top; display:block
}
.m6 a:hover{color:#000; background:url(../images/product.png) no-repeat top center;}


.m7{ width:100px; height:auto; text-align:center; color:#999999; text-decoration:none; margin-bottom:10px;}
.m7 a {
	text-decoration:none; width:100px;
	color:#999999;
	padding-top:50px;
	background-attachment: scroll;
	background-image: url(../images/quote2.png);
	background-repeat: no-repeat;
	background-position: center top; display:block
}
.m7 a:hover{color:#000; background:url(../images/quote.png) no-repeat top center;}




.m8{ width:100px; height:auto; text-align:center; color:#999999; text-decoration:none; margin-bottom:10px;}
.m8 a {
	text-decoration:none; width:100px;
	color:#999999;
	padding-top:50px;
	background-attachment: scroll;
	background-image: url(../images/po2.png);
	background-repeat: no-repeat;
	background-position: center top; display:block
}
.m8 a:hover{color:#000; background:url(../images/po.png) no-repeat top center;}



.m9{ width:100px; height:auto; text-align:center; color:#999999; text-decoration:none; margin-bottom:10px;}
.m9 a {
	text-decoration:none; width:100px;
	color:#999999;
	padding-top:50px;
	background-attachment: scroll;
	background-image: url(../images/iog2.png);
	background-repeat: no-repeat;
	background-position: center top; display:block
}
.m9 a:hover{color:#000; background:url(../images/iog.png) no-repeat top center;}



.m10{ width:100px; height:auto; text-align:center; color:#999999; text-decoration:none; margin-bottom:10px;}
.m10 a {
	text-decoration:none; width:100px;
	color:#999999;
	padding-top:50px;
	background-attachment: scroll;
	background-image: url(../images/sales2.png);
	background-repeat: no-repeat;
	background-position: center top; display:block
}
.m10 a:hover{color:#000; background:url(../images/sales.png) no-repeat top center;}



.m11{ width:100px; height:auto; text-align:center; color:#999999; text-decoration:none; margin-bottom:10px;}
.m11 a {
	text-decoration:none; width:100px;
	color:#999999;
	padding-top:50px;
	background-attachment: scroll;
	background-image: url(../images/cash2.png);
	background-repeat: no-repeat;
	background-position: center top; display:block
}
.m11 a:hover{color:#000; background:url(../images/cash.png) no-repeat top center;}


.m12{ width:100px; height:auto; text-align:center; color:#999999; text-decoration:none; margin-bottom:10px;}
.m12 a {
	text-decoration:none; width:100px;
	color:#999999;
	padding-top:50px;
	background-attachment: scroll;
	background-image: url(../images/complaint2.png);
	background-repeat: no-repeat;
	background-position: center top; display:block
}
.m12 a:hover{color:#000; background:url(../images/complaint.png) no-repeat top center;}


.m13{ width:100px; height:auto; text-align:center; color:#999999; text-decoration:none; margin-bottom:10px;}
.m13 a {
	text-decoration:none; width:100px;
	color:#999999;
	padding-top:50px;
	background-attachment: scroll;
	background-image: url(../images/setting2.png);
	background-repeat: no-repeat;
	background-position: center top; display:block
}
.m13 a:hover{color:#000; background:url(../images/setting.png) no-repeat top center;}




.rightcorner{border-radius: 2px 2px 2px 2px; background:#0099CC}



/*form*/


.field1 {
    border-color: #C1C1C1 #EBEBEB #EBEBEB #C1C1C1;
    border-radius: 3px 3px 3px 3px; font-size:12px;
    border-style: solid;
    border-width: 1px;
    color: #666666;
    font-family: arial,verdana;
    padding: 5px;
    width: 200px; background:#fafafa}
	
/*category	*/

.message {
   background: -moz-linear-gradient(center top , #FFFFFF, #f5f5f5) repeat scroll 0 0;
    border: 1px solid #BCBCBC;
    border-radius: 5px 5px 5px 5px;
    margin: 8px 0;
    padding: 8px 15px;
    width: 250px;
}
.message .content a {
    color: #000000;
    text-decoration: none;
}
.message .created_at {
    color: #555555;
    float: right;
    font-size: 12px;
}
.message .actions {
    font-size: 12px;
    margin-top: 5px;
}
.message .actions a {
    text-decoration: none; color:#3366CC
}

.message .actions a:hover{
    text-decoration: none; color:#000
}
.nested_messages {
    margin-left: 30px;
}
.nested_messages .nested_messages .nested_messages .nested_messages {
    margin-left: 0;
}

.notification{
    background: -moz-linear-gradient(top,  #fff,  #ededed);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed'); border:1px solid #9c9c9c;
    color:#444444;
    font-weight:bold;
    width:24px;
    height:17px;
    padding:3px;
    border-radius: 3px 3px 3px 3px;
    float:left;
    margin:24px 0 0 3px;
    background-repeat: no-repeat;
    background-position: center center;
}

.notificationvalue{ border-radius:10px; background:#ed1c24; color:#FFFFFF; position: relative; top:-27px; left:12px; font-size:11px; width:16px; height: auto}