<div id="blank"></div>
 <div id="right">
	<div class="leftarrow2" style="float:left"></div>
	
	
	
	
	
      <div id="smoothmenu1" class="ddsmoothmenu">
        <ul class="rightcorner">
        	 <% if can? :new, Company %>
          <li><a href="#">Company</a>
              <ul>
                <li><a href="#">New</a></li>
                <li><a href="#">Edit</a></li>
              </ul>
          </li>
          <% end %>
          <li><a href="#">Company User</a>
              <ul>
                <li><a href="#">New</a></li>
                <li><a href="#">Edit</a></li>
              </ul>
          </li>
        </ul>
        <br style="clear: left" />
      </div>
	    </div>


    <div id="right2">
	 
      <table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
        <tr>
          <th align="center" valign="middle" class="table-header-repeat line-left minwidth-1"><a href="">Name</a> </th>
          <th align="center" valign="middle" class="table-header-repeat line-left"><a href="">Email</a></th>
          <th align="center" valign="middle" class="table-header-options line-left"><a href="">Action</a></th>
        </tr>
        <tr>
        	<% @users.each do |user| %>
        	<% unless user.username=='admin' %>
          <td><%= user.username %> </td>
          <td><a href=""><%= user.email %></a></td>
          <td class="options-width"> 
            <a href="#" title="Add" class="icon-1 info-tooltip"></a> <a href="#" title="Edit" class="icon-2 info-tooltip"></a> <a href="#" title="Delete" class="icon-3 info-tooltip"></a>          </td>
        </tr>
        <%end%>
        <%end%>
      </table>
    </div>
	
  </div>