<div id="loginbox">
s
   
  <table width="90%" border="0" cellspacing="10" cellpadding="0">
  	 <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <tr>
      <td align="right" valign="middle"><strong>Email: </strong></td>
      <td align="left" valign="top"><label>
     <%= f.text_field :email,:class => "logintextfield" %>
       
      </label></td>
    </tr>
    <tr>
      <td align="right" valign="middle"><strong>Password: </strong></td>
      <td align="left" valign="top">
      	<%= f.password_field :password, :class => "logintextfield"  %></td>
    </tr>
    <tr>
      <td align="left" valign="top">&nbsp;</td>
      <td align="left" valign="top">
	<%= f.submit "Login", :class => "button" %>
       
      

          <div align="right" style="width:50%; float:right; margin-right:5px"> <a href="#" class="fp">Forgot your Password</a></div>
      <% end %>
      </td>
    </tr>
  </table>
</div>