<div style="width:90%; float:right; position: static; left:10%; overflow:hidden">
<div id="blank"></div>
 
  <div id="right">
      <div class="leftarrow2" style="float:left"></div>
       <div id="smoothmenu1" class="ddsmoothmenu">
       	     <div style="margin:10px; color:#000">Welcome!</div>
 	     </div>
  </div>


    <div id="right2" style="margin-top:140px;">
	 
	    <h1>Welcome to the FloorSYS Business Management Information System.</h1>
      
      
    </div>
	
  </div>
  
  </div>