  <div class="category">
    
    <div class="content">
      <%= category.category_name %>
    </div>
    <div class="actions">
      <%= link_to "Sub Category", new_category_path(:parent_id => category) %> | <%= link_to 'Destroy', {:controller=>"categories", :action=>"destroy", :id=>"#{category.id}"}%>
      
      
    </div>
  </div>
  
  
     
     
     
     