<p id="notice"><%= notice %></p>

<p>
  <b>Tax rate:</b>
  <%= @vat.tax_rate %>
</p>


<p>
  <b>Company:</b>
  <%= @vat.company_id %>
</p>



<%= link_to 'Back', {:controller=>"vats", :action=>"index", :company_id=>"#{@vat.company_id}"} %>
