<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>FloorSYS</title>
<%= stylesheet_link_tag 'home' %>

</head>

<body>
<div align="center" id="maindiv">
  <div id="header">
    <div id="header_wrap"> </div>
  </div>
  <div id="wrap">
    <div id="signindiv">
      <div id="logo"><a href="/"><img src="/images/logo.png" alt="" border="0" /></a></div>
    </div>
 <%= yield %>
  </div>
 
  <div id="footer">Copyright &copy; 2012, Stedia Infosys, All Rights Reserved.</div>
</div>
</body>
</html>